@import "tailwindcss";

@theme {
  --animate-fadein: fadein 0.5s ease-in-out forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}

.icon {
  @apply w-6 h-6;
}

.actionButton {
  @apply flex flex-col items-center font-bold text-xs cursor-pointer;
}

.pageButton {
  @apply p-3 flex font-light gap-3 text-sm items-center enabled:font-bold enabled:cursor-pointer;
}

.pageButtonHover {
  @apply rounded-sm border border-gray-300 enabled:hover:border-black;
}

.filterContainer {
  @apply w-64 flex gap-3 p-3 border-b border-b-gray-300;
}

.dotActive {
  background-color: #f41cb2;
}

.dropdownButton:hover {
  border-color: var(--border-color);
}
